:root {
  /* colors */
  --brightorange-color: hsl(31, 77%, 52%);
  --darkcyan-color: hsl(184, 100%, 22%);
  --verydarkcyan-color: hsl(179, 100%, 13%);
  --white-color: hsla(0, 0%, 100%, 0.75);
  --verylightgray-color: hsl(0, 0%, 95%);
  /* fonts */
  --lexend-font:  "Lexend Deca", serif;
  --bigshoudlders-font:  "Lexend Deca", serif;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--verylightgray-color);
  font-family: var(--lexend-font);
  font-weight: 400;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


h2 {
  font-family: var(--bigshoudlders-font);
  font-weight: 700;
  padding: 20px 0;
}

p {
  padding: 0 0 60px 0;
  font-weight: 200;
  line-height: 1.5rem;
}

.card-container {
  width: 700px;
  /* height: 600px; */
  /* padding-top: 70px; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container div {
  height: 400px;
}

div {
  padding: 25px;
}

.sedans {
  background-color: var(--brightorange-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.suvs {
  background-color: var(--darkcyan-color);
}

.luxury {
  background-color: var(--verydarkcyan-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.button {
  background-color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
}

 .orange {
  color: var(--brightorange-color);
}

.cyan {
  color: var(--darkcyan-color);
}

.darkCyan {
  color: var(--verydarkcyan-color);
}


/* .attribution {
  padding-top: 200px;
  color: black;
  text-align: center;
} */


/* Media Quiries  */


@media (max-width: 775px) {

  body {
    height: auto;
    margin: 40px 0;
  }

  .card-container {
    flex-direction: column;
    width: 300px;
  }
  .sedans {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0;
  }

  .luxury {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
  }

}